root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
csharp_using_directive_placement = outside_namespace:error
csharp_style_namespace_declarations = file_scoped:error
csharp_prefer_braces = true:error
csharp_prefer_simple_using_statement = true:error
csharp_style_prefer_primary_constructors = true:error
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:error
csharp_style_prefer_extended_property_pattern = true:suggestion
csharp_style_prefer_utf8_string_literals = true:error

dotnet_style_qualification_for_event = false:error
dotnet_style_qualification_for_field = false:error
dotnet_style_qualification_for_method = false:error
dotnet_style_qualification_for_property = false:error
dotnet_style_predefined_type_for_locals_parameters_members = true:error
dotnet_style_predefined_type_for_member_access = true:error
dotnet_style_require_accessibility_modifiers = for_non_interface_members:error
dotnet_style_readonly_field = true:error
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:error
dotnet_style_prefer_collection_expression = when_types_exactly_match:error
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_null_propagation = true:error
dotnet_style_object_initializer = true:suggestion
dotnet_style_prefer_auto_properties = true:error
dotnet_style_operator_placement_when_wrapping = beginning_of_line

dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1710.severity = none
dotnet_diagnostic.CA1711.severity = none
dotnet_diagnostic.CA1720.severity = none
dotnet_diagnostic.CA1822.severity = suggestion
dotnet_diagnostic.CA1859.severity = suggestion

[*.{csproj,props,targets,xml,slnx}]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.{md,dot}]
trim_trailing_whitespace = false
